.wrapper {
  flex: 3;
  padding: 40px 0;
  border: 1px solid #f7f7f7;
  border-radius: 20px 0 0 20px;
}

.personalInfo {
  margin-bottom: 20px;
  text-align: center;
}

.personalImg {
  width: 30px;
  padding: 12px 17px;
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  border-radius: 50%;
  margin: 0 auto 15px auto;
  background-color: #79d3f3;
  color: #fff;
}

.name {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
