.wrapper {
  flex: 3;
  padding: 20px 0;
  border: 1px solid #f7f7f7;
}

.personalInfo {
  margin-bottom: 20px;
  text-align: center;
}

.personalImg {
  width: 30px;
  padding: 12px 17px;
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  border-radius: 50%;
  margin: 0 auto 15px auto;
  background-color: #79d3f3;
  color: #fff;
}

.name {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.settings {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  cursor: pointer;
}

.options {
  position: absolute;
  background-color: #fff;
  right: -10px;
  box-shadow: 0 0 2rem rgb(0 0 0 / 8%), 0 1rem 1rem -1rem rgb(0 0 0 / 10%);
  border-radius: 4px;
  text-align: center;
  top: 30px;
}
.optionsItem {
  padding: 5px 16px;
  margin: 3px;
}
.optionsItem:hover {
  background: #F9F9F9;
  border-radius: 4px;
}

.settingsBtn {
  fill: #cccccc;
}