.wrapper {
  flex: 3;
  padding: 40px 0;
  border: 1px solid #f7f7f7;
  border-radius: 20px 0 0 20px;
}

.personalInfo {
  margin-bottom: 20px;
  text-align: center;
}

.personalImg img{
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 3px solid #fff;
}

.name {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.chatList {
  max-height: 500px;
  overflow: scroll;
}