.wrapper {
  display: flex;
  margin-top: 30px;
}

.chat {
  flex: 8;
  background: #F7F7F7;
  overflow-y: auto;
  border-radius: 0 16px 16px 0;
  box-shadow:
          inset 0 2rem 2rem -2rem rgba(black, 0.05),
          inset 0 -2rem 2rem -2rem rgba(black, 0.05);
}

.empty {
  text-align: center;
  color: #72717187;
  padding: 45% 0;
  font-weight: bold;
  font-size: 16px;
}

.chatName {
  background-color: #fff;
  padding: 10px 0 10px 20px;
  font-weight: bold;
  border: 1px solid #f7f7f7;
}