.wrapper {
  height: 100vh;
  display: flex;
}

@media (max-width: 1500px){
  .wrapper {
    margin: 0;
  }
}

.chat {
  flex: 8;
  background: #F7F7F7;
  overflow-y: auto;
  box-shadow:
          inset 0 2rem 2rem -2rem rgba(black, 0.05),
          inset 0 -2rem 2rem -2rem rgba(black, 0.05);
}

.empty {
  text-align: center;
  color: #72717187;
  padding: 25% 0;
  font-weight: bold;
  font-size: 16px;
}

.chatName {
  background-color: #fff;
  padding: 10px 0 10px 20px;
  font-weight: bold;
  border: 1px solid #f7f7f7;
}