.wrapper {
  height: 100%;
}

.inputWrapper {
  display: flex;
  margin-top: 20px;
  border-radius: 16px;
  background-color: #F9F9F9;
  height: 24px;
  padding: 12px 10px 8px 16px;
}

.input {
  background: transparent !important;
  width: 100%;
  border: none;
  font-size: 16px;
}

.action {
  fill: #999999;
  border: none;
  cursor: pointer;
  padding: 3px 8px 0;
  background-color: transparent;
}

.actionCross {
  stroke: #999999;
  border: none;
  cursor: pointer;
  padding: 3px 8px 0;
  background-color: transparent;
}

.list {
  max-height: calc(100vh - 300px);
  overflow: auto;
  margin-top: 15px;
  -webkit-overflow-scrolling: touch;
}

.panel {
  background-color: #ffffff;
  margin: 20px;
  padding: 20px 20px 40px;
  border-radius: 10px;
}

.notFound {
  width: 100%;
  text-align: center;
  color: #999999;
}

.groupName {
  display: flex;
  vertical-align: baseline;
  margin-bottom: 20px;
}

.groupTitle {
  font-weight: 600;
  align-self: center;
  margin-right: 20px;
}

.inputGroupName {
  height: 24px;
  border-color: #ccc;
  border-width: 0 0 1px 0;
  font-size: 16px;
  width: 100%;
  background-color: transparent;
}

.inputGroupNameWrapper {
  flex: 2 1 0;
  margin-right: 10px;
}

.linkRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.link {
  cursor: pointer;
  font-weight: 500;
  color: #356ad1;
}

.notActiveLink {
  cursor: pointer;
  font-weight: 500;
  color: #999999;
}

.selectedUsers {
  display: flex;
  flex-wrap: wrap;
}

.selectedItem {
  display: flex;
  margin-top: 5px;
  margin-right: 10px;
  padding: 5px 5px 5px 10px;
  border-radius: 8px;
  font-weight: 600;
  border: 1px solid #39b673;
  color: #39b673;
}

.selectedItemName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 60px;
  margin-right: 5px;
}

.selectedItemRemove {
  stroke: #39b773;
  border: none;
  cursor: pointer;
  height: 20px;
  background-color: transparent;
}

.title {
  font-weight: 600;
}