.inputWrapper {
  display: flex;
  margin: 20px;
  border-radius: 16px;
  background-color: #F9F9F9;
  height: 24px;
  padding: 12px 10px 8px 16px;
}

.input {
  background: transparent !important;
  width: 100%;
  border: none;
  font-size: 16px;
}

.action {
  cursor: pointer;
  padding: 3px 8px 0;
}

.list {
  max-height: calc(100vh - 300px);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.panel {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
}

.panelTitle {
  font-weight: bold;
  color: #b0b0b0;
}

.panelIcons {
  cursor: pointer;
}