.box {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px 10px 10px 20px;
  border-radius: 20px;
  margin: 0 1rem 10px 1rem;
}

.textarea {
  flex: 10;
  -webkit-overflow-scrolling: touch;
  resize: none;
  border-color: transparent;
  font-family: Red hat Display, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height:1.4;
}

.btnRow {
  flex: 2;
  align-self: end;
  display: flex;
  justify-content: flex-end;
  height: 34px;
}

.button {
  cursor: pointer;
  border-color: transparent;
  background-color: transparent;
}

.picker {
  position: absolute;
  bottom: 200px;
  right: 96px;
}