.wrapper {
  display: flex;
  align-items: flex-end;
  margin: 20px 0;
}

.userImg {
  text-align: center;
  font-weight: bold;
  font-size: 19px;
  border-radius: 50%;
  line-height: 40px;
  height: 40px;
  width: 40px;
  min-width: 40px;
  margin-right: 10px;
  background-color: #79d3f3;
  color: #fff;
}

.user {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 14px;
}

.message {
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  background: #FFF;
  border-radius: 1.125rem 1.125rem 1.125rem 0;
  min-height: 2.25rem;
  width: fit-content;
  max-width: 450px;
  box-shadow:
          0 0 2rem rgba(black, 0.075),
          0 1rem 1rem -1rem rgba(black, 0.1);
}

.datetime {
  font-size: 12px;
  color: rgba(147, 141, 141, 0.64);
  margin-left: 10px;
  font-weight: 400;
  margin-right: 20px;
}

.box {
  width: 100%;
}