.wrapper {
  height: 560px;
  display: flex;
  padding-bottom: 20px;
  flex-direction: column;
}

.messages {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 560px;
  margin-bottom: 15px;
}

.scrollable {
  overflow: auto;
}

.hiddenMessage {
  margin-top: 20px;
}