.wrapper {
  height: 600px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.messages {
  display: flex;
  margin: 1rem;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 560px;
  margin-bottom: 15px;
}