.wrapper {
  height: calc(100vh - 160px);
  display: flex;
  padding-bottom: 20px;
  flex-direction: column;
}

.messages {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: calc(100vh - 160px);
}

.scrollable {
  overflow: auto;
}

.hiddenMessage {
  margin-top: 20px;
}