.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

*:focus {
  outline: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@mixin _768 {
  @media (max-width: 768px){
    @content;
  }
}

.app {
  .app-header {
    display: flex;
    justify-content: space-between;

    .app-header_logo {
      font-family: Arial Rounded MT Bold;
      font-style: normal;
      font-size: 24px;
      line-height: 37px;
    }

    .app-header_user {
      color: #356ad1;
      font-family: Arial;
      font-size: 18px;
      line-height: 37px;
    }

    .app-header_logout svg{
      height: 40px;
    }

    .app-header_user-wrapper {
      display: flex;
      justify-content: space-between;
    }
  }

  .creation-form {
    background-color: #efefef2e;
    height: 100vh;

    .creation-form_title {
      text-align: center;
      font-family: Arial Rounded MT Bold;
      font-style: normal;
      font-size: 32px;
      line-height: 37px;

      .creation-form_title-span {
        color: #39B773;
      }
    }

    .creation-form_subtitle {
      color: #494545;
      text-align: center;
      margin-top: 20px;
      font-family: Arial;
      font-style: normal;
      font-weight: lighter;
      font-size: 18px;
    }
  }

  .creation-form_box {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
  }

  .creation-form_form {
    display: flex;
    font-family: Arial;
    font-style: normal;

    .creation-form_button {
      cursor: pointer;
      font-weight: bold;
      font-size: 16px;
      height: 36px;
      width: 70px;
      background-color: #39B773;
      color: #fff;
      border-radius: 8px;
      border-color: transparent;
      margin-left: 16px;
    }

    .creation-form_input {
      height: 32px;
      border-color: #ccc;
      border-width: 0 0 1px 0;
      padding-left: 10px;
      font-size: 16px;
      width: 280px;
      background-color: transparent;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 30px 120px;
  box-shadow: 0 4px 30px rgb(241 241 241 / 41%);
  background-color: #fff;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation-item {
  margin-right: 10px;
  color: #282c34;
  text-decoration: none;
  font-weight: 400;
  width: 100px;
  text-align: center;
}

.navigation-item:hover {
  font-weight: 600;
}

.creation-form_title-span {
  color: #39B773;
  text-align: center;
  font-family: Arial Rounded MT Bold;
  font-style: normal;
  font-size: 32px;
  line-height: 37px;
}

.login-btns,
.navigation {
  align-self: center;
}

.login-btns button{
  background-color: #fff;
  padding: 10px 30px;
  border: none;
  font-size: 16px;
  color: #39b773;
  font-weight: 600;
  cursor: pointer;
}

.creation-form-body {
  height: calc(100vh - 190px);
  padding: 100px 100px 0 120px;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  max-height: 700px;
  margin: 0 auto;
}

.creation-form-image {
  max-height: 620px;
}

.creation-form-left{
  width: 50%;
  padding-top: 10%;
  max-height: 70vh;
}

.creation-form-right {
  align-self: flex-end;
}

@media (max-width: 768px){
  .header {
    padding: 30px 40px;
  }

  .navigation {
    display: none;
  }

  .creation-form-body {
    display: block;
    padding: 50px 50px 0;
  }

  .creation-form-left {
    width: 100%;
  }
  .creation-form-image {
    display: none;
  }
}

@media (max-width: 1025px){
  .header {
    padding: 30px 60px;
  }

  .creation-form-body {
    padding: 50px 50px 0;
  }

  .creation-form-image {
    width: 100%;
    height: auto;
    padding-left: 10%;
  }

}